


<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Quản lý dược phẩm</title>

    <th:block th:replace="base :: css"></th:block>
    <th:block th:replace="base :: js"></th:block>
    <script th:src="@{/js/medicine.js}"></script>
</head>

<body>
    

    <div th:replace="base :: header('QUẢN LÝ DƯỢC PHẨM')"></div>

    <div th:replace="base :: sidebar"></div>

    <div class="content">


        <table class="table table-bordered table-hover align-middle">
            <thead class="table-primary">
                <tr>
                    <th>Tên</th>
                    <th>Mã</th>
                    <th>Tồn kho>
                    <th>Ngày hết hạn</th>
                    <th>Đơn giá</th>
                    <th>Ảnh</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="d : ${medicines}">
                    <td th:text="${d.name}"></td>
                    <td th:text="${d.code}"></td>
                    <td th:text="${d.stock}"></td>
                    <td th:text="${d.expirationDate}"></td>
                    <td th:text="${d.price}"></td>
                    <td><img src="${d.secureUrl}" style="width: 50px;"/></td>
                    <td>
                        <button class="btn btn-warning btn-sm">Sửa</button>
                        <button class="btn btn-danger btn-sm"
                                th:onclick="'deleteDoctor(' + ${d.id} + ')'">
                            Xóa
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

    <div class="d-flex justify-content-center mt-4">
        <div th:replace="~{fragments :: pagination('/admin/medicines', ${totalPages}, ${currentPage})}"></div>
    </div>

    <div th:replace="base :: footer">

    </div>
</body>
</html>