<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Hồ sơ bệnh án</title>

    <th:block th:replace="base :: css"></th:block>
    <th:block th:replace="base :: js"></th:block>
    <script th:src="@{/js/doctor.js}"></script>
</head>

<body>

    <div th:replace="base :: header('QUẢN LÝ HỒ SƠ')"></div>

    <div th:replace="base :: sidebar"></div>

    <div class="content">

        <div class="mb-3">
            <form class="d-flex" method="get" th:action="@{/admin/medical-records}">
                <input type="text" name="kw" th:value="${kw}" class="form-control me-2"
                    placeholder="Tìm theo tên bệnh nhân hoặc bác sĩ..." />
                <div class="col-md-4">
                    <button type="submit" class="btn btn-outline-primary">Tìm kiếm</button>
                    <a th:href="@{/admin/medical-records}" class="btn btn-outline-secondary ms-2">Đặt lại</a>
                </div>
            </form>
        </div>


        <table class="table table-bordered table-hover align-middle">
            <thead class="table-primary">
                <tr>
                    <th>Bệnh nhân</th>
                    <th>Bác sĩ khám</th>
                    <th>Chuẩn đoán</th>
                    <th>Ngày tạo</th>
                    <th>Ghi chú</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="m : ${medical_records}">
                    <td th:text="${m.appointmentId.patientId.fullName}"></td>
                    <td th:text="${m.appointmentId.scheduleId.doctorId.fullName}"></td>
                    <td th:text="${m.diagnosis}"></td>
                    <td th:text="${m.createdAt}"></td>
                    <td th:text="${m.note}"></td>
                </tr>
                <tr th:if="${#lists.isEmpty(medical_records)}">
                    <td colspan="5" class="text-center text-muted p-4">Không tìm thấy hồ sơ bệnh án nào trong hệ thống.
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

    <div class="d-flex justify-content-center mt-4">
        <div
            th:replace="~{fragments :: pagination(${kw} != null ? '/admin/medical-records?kw=' + ${kw} : '/admin/medical-records', ${totalPages}, ${currentPage})}">
        </div>
    </div>

    <div th:replace="base :: footer">

    </div>
</body>

</html>