<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Quản lý Lịch làm việc</title>

    <th:block th:replace="~{base :: css}"></th:block>
    <th:block th:replace="~{base :: js}"></th:block>
    <script th:src="@{/js/admin-crud.js}"></script>
</head>

<body>

    <div th:replace="~{base :: header('QUẢN LÝ LỊCH LÀM VIỆC')}"></div>
    <div th:replace="~{base :: sidebar}"></div>

    <div class="content mt-6">
        <form id="scheduleFilterForm" class="row g-2 me-2 mb-2 ms-2 d-flex align-items-end gap-2" method="get"
            action="">
            <div class="col-md-3">
                <input type="text" name="doctorName" class="form-control" placeholder="Tìm bác sĩ"
                    th:value="${param.doctorName != null ? param.doctorName : ''}" />
            </div>
            <div class="col-md-3">
                <div class="d-flex gap-2">
                    <div class="me-1">
                        <label class="form-label">Từ ngày</label>
                        <input type="date" name="fromDate" class="form-control me-2"
                            th:value="${param.fromDate != null ? param.fromDate : ''}" />
                    </div>

                    <div>
                        <label class="form-label">Đến ngày</label>
                        <input type="date" name="toDate" class="form-control me-2"
                            th:value="${param.toDate != null ? param.toDate : ''}" />
                    </div>
                </div>

            </div>
            <div class="col-md-3 ms-4">
                <button type="submit" class="btn btn-outline-primary">Tìm kiếm</button>
                <a th:href="@{/admin/schedules}" class="btn btn-outline-secondary ms-2">Đặt lại</a>
            </div>
        </form>

        <table id="schedulesTable" class="table table-bordered table-hover align-middle">
            <thead class="table-primary">
                <tr>
                    <th>Ngày</th>
                    <th>Bác sĩ</th>
                    <th>Phòng</th>
                    <th>Khu</th>

                    <th>Ca</th>
                    <th>Giờ bắt đầu</th>
                    <th>Giờ kết thúc</th>
                    <th>Bệnh nhân tối đa</th>
                    <th>Bệnh nhân hiện tại</th>
                </tr>
            </thead>

            <tbody id="schedulesTbody">
                <tr th:each="s : ${schedules}" th:id="'schedule-row-' + ${s.id} ">
                    <td th:text="${s.date}"></td>
                    <td th:text="${s.doctorId != null ? s.doctorId.fullName : ''}"></td>
                    <td th:text="${s.roomId != null ? s.roomId.roomNumber : ''}"></td>
                    <td th:text="${s.roomId != null && s.roomId.areaId != null ? s.roomId.areaId.areaName : ''}"></td>
                    <td th:text="${s.shiftId != null && s.shiftId.session != null ? s.shiftId.session.label : ''}"></td>
                    <td th:text="${s.shiftId.startTime != null ? s.shiftId.startTime : ''}"></td>
                    <td th:text="${s.shiftId.endTime != null ? s.shiftId.endTime : ''}"></td>
                    <td th:text="${s.maxPatients}"></td>
                    <td th:text="${s.currentPatients}"></td>



                </tr>
            </tbody>
        </table>

        <div class="d-flex justify-content-center mt-4" id="schedulesPagination">
            <div th:replace="~{fragments :: pagination('/admin/schedules', ${totalPages}, ${currentPage})}"></div>
        </div>

        <div th:replace="~{base :: footer}">
        </div>
        <script>

        </script>

</body>

</html>