<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Quản lý người dùng</title>

    <th:block th:replace="base :: css"></th:block>
    <th:block th:replace="base :: js"></th:block>
    <script th:src="@{/js/user.js}"></script>
</head>

<body>

    <div th:replace="base :: header('QUẢN LÝ TÀI KHOẢN')"></div>

    <div th:replace="base :: sidebar"></div>

    <div class="content">


<!--        <form method="post" th:action="@{/admin/users}" enctype="multipart/form-data">

            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" name="username" class="form-control" id="username">
            </div>

            <div class="form-group">
                <label for="email">Email address:</label>
                <input type="email" name="email" class="form-control" id="email">
            </div>

            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" name="password" class="form-control" id="password">
            </div>

            <div class="form-group">
                <label for="avatar">Avatar</label>
                <input type="file" name="avatar" class="form-control mb-2">
            </div>

            <button type="submit" class="btn btn-primary mb-3">Submit</button>
        </form>-->



        <table class="table table-bordered table-hover align-middle">
            <thead class="table-primary">
                <tr>
                    <th>Tên tài khoản</th>
                    <th>Email</th>
                    <th>Vai trò</th>
                    <th>Avatar</th>
                    <th>Hành động</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="u : ${users}">
                    <td th:text="${u.username}"></td>
                    <td th:text="${u.email}"></td>
                    <td th:text="${u.role}"></td>
                    <td>
                        <img th:src="${u.secureUrl}" alt="avatar" width="50" height="50"/>
                    </td>
                    <td>
                        <button class="btn btn-warning btn-sm">Sửa</button>
                        <button class="btn btn-danger btn-sm"
                                th:onclick="'deleteUser(' + ${u.id} + ')'">
                            Xóa
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    

    </div>
    
    <div class="d-flex justify-content-center mt-1">
        <div th:replace="~{fragments :: pagination('/admin/users', ${totalPages}, ${currentPage})}"></div>
    </div>
  

    <div th:replace="base :: footer"></div>
</body>
</html>