<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Quản lý người dùng</title>

    <th:block th:replace="base :: css"></th:block>
    <th:block th:replace="base :: js"></th:block>
    <script th:src="@{/js/user.js}"></script>
</head>

<body>

    <div th:replace="base :: header('QUẢN LÝ TÀI KHOẢN')"></div>

    <div th:replace="base :: sidebar"></div>

    <div class="content">


        <form class="card-body p-4" method="post" th:action="@{/admin/users}" enctype="multipart/form-data">

            <div class="mb-3">
                <label for="username" class="form-label fw-bold">Tên đăng nhập:</label>
                <input type="text" name="username" class="form-control" id="username" placeholder="Nhập tên đăng nhập..." required>
            </div>

            <div class="mb-3">
                <label for="email" class="form-label fw-bold">Email:</label>
                <input type="email" name="email" class="form-control" id="email" placeholder="example@gmail.com" required>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label fw-bold">Mật khẩu:</label>
                <input type="password" name="password" class="form-control" id="password" placeholder="********" required>
            </div>

            <div class="mb-4">
                <label for="avatar" class="form-label fw-bold">Ảnh đại diện:</label>
                <input type="file" name="avatar" class="form-control" id="avatar" accept="image/*">
                <div class="form-text">Định dạng hỗ trợ: JPG, PNG, GIF.</div>
            </div>

            <div class="d-grid m-auto">
                <button type="submit" class="btn btn-primary">
                    <i class="bi bi-person-plus-fill me-2"></i>Tạo tài khoản
                </button>
            </div>

        </form>




        <table class="table table-bordered table-hover align-middle">
            <thead class="table-primary">
                <tr>
                    <th>Tên tài khoản</th>
                    <th>Email</th>
                    <th>Vai trò</th>
                    <th>Avatar</th>
                    <th>Hành động</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="u : ${users}">
                    <td th:text="${u.username}"></td>
                    <td th:text="${u.email}"></td>
                    <td th:text="${u.role}"></td>
                    <td>
                        <img th:src="${u.secureUrl}" alt="avatar" width="50" height="50"/>
                    </td>
                    <td>
                        <button class="btn btn-warning btn-sm">Sửa</button>
                        <button class="btn btn-danger btn-sm"
                                th:onclick="'deleteUser(' + ${u.id} + ')'">
                            Xóa
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>


    </div>

    <div class="d-flex justify-content-center mt-1">
        <div th:replace="~{fragments :: pagination('/admin/users', ${totalPages}, ${currentPage})}"></div>
    </div>


    <div th:replace="base :: footer"></div>
</body>
</html>